.About {
    min-height: 500px;
    padding-top: 12vh;
}

.About .info {
    min-height: 457px;
    /* background-color: #e6e6e69c; */
    border-radius: 10px;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    box-shadow: #FFC107 0px 0px 6px 0px;
    margin: 10px auto;
    text-align: center;
}

.About p {
    text-align: left;
}


.About .skillSet .row {

    display: flex;
    justify-content: center;

}

.About .skillSet .row .sd {
    /* margin: 10px 10px;
    border-radius: 6px;
    padding: 4px 0px;
    text-align: center; */
    box-shadow: #FFC107 0px -50px 36px -28px inset;

    margin: 10px 10px;
    border-radius: 6px;
    /* box-shadow: #FFC107 0px 0px 3px 0px; */
    padding: 4px 0px;
    text-align: center;
    transition: transform 0.3s ease-in-out;

}

.About .skillSet .row div p {
    text-align: center;
    font-weight: bold;
    margin: 6px 0px 0px 0px;
}

/* .skillSet img {
    transition: transform 0.3s ease-in-out;
} */

.About .skillSet .row .sd:hover {
    transform: scale(1.1);
}

/* .skillSet img:hover {
    transform: scale(1.1);
} */

@media (max-width: 700px) {
    .carousel {
        margin-bottom: 10px;
    }
}