* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #484747;


}



.Navbar .logo1 {
    margin-left: 32px;
    width: 50px;
}

.Navbar nav {
    padding: 0px;
    font-weight: bold;

}

.Navbar {
    min-height: 10vh;
    padding-top: 10px;
    padding-bottom: 5px;
    background: #f7f7f7;
    /* background: white; */
    box-shadow: 3px -2px 10px gray;
    position: sticky;
    top: 0px;
    z-index: 2;


}

.Navbar nav a {

    color: black;
}

.Home .section1 {
    width: 100%;
    /* min-height: 498px; */
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Home .section1 #box1 {
    width: 100%;
}

.Home .section1 #box1 .box12 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Home .section1 #box1 p {
    width: 62%;
    font-size: 109%;
    text-align: center;
}

.Home .section1 #box1 h1 {
    font-size: 450%;
    font-family: 'Poppins', sans-serif;

}

.Home .section1 #box1 h2 {
    font-size: 241%;
}

.Home .section1 #box1 a {
    color: white;
    text-align: center;
    display: block;
    width: 174px;
    padding: 10px;
    text-decoration: none;
    border-radius: 24px;
    margin: 10px;
    background-color: black;
    border: 2px solid black;

}

.Home .section1 #box1 a:hover {
    background-color: #f7f7f7;
    color: black;
    border: 2px solid black;
}

.Home .section1 #box1 h1,
h2,
p {
    text-align: center;
}

/* section2 started */


.Home .section2 h1 {
    margin: 20px 0px;

}

.Home .section2 .row {
    width: 100%;
    padding-bottom: 56px;
    display: flex;
    justify-content: center;

}

.Home .section2 .row .box {
    background: #eeeeee00;
    box-shadow: 0px 0px 5px #00ffe7a6;
    border: 2px solid #2978b5;
    width: 70%;
    min-height: 188px;
    text-align: center;
    border-radius: 8px;
    font-size: 26px;
    padding: 13px;
    transition: transform 0.3s ease;
}

.Home .section2 .row .box:hover {
    transform: scale(1.1);
}

.Home .section2 .row .box p {

    font-size: 13px;

}

.Home .section2 .coln {
    margin: 10px 0px;
    padding: 0px;
    display: flex;
    justify-content: center;

}

.Home .section2 .coln a {
    margin: 0px 10px;
    text-decoration: none;
    border: 2px solid black;
    padding: 0px 10px 2px 10px;
    font-size: 15px;
    background: black;
    border-radius: 10px;
    color: white;

}

.Home .section2 .coln a:hover {
    background: white;
    color: black;

}


/* section3 started */

.Home .section3 {

    padding-bottom: 35px;

}

.Home .section3 h1 {
    text-align: center;
    padding-top: 36px;
    margin: 0px 0px 36px 0px;
}

.Home .section3 img {
    width: 60px;
    margin: 0px 10px 20px 10px;

}

.Home .section3 h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: monospace;
}


/* section4 started */
.Home .section4 h1 {
    margin-top: 29px;
    margin-bottom: 35px;
    text-align: center;
}

.Home .section4 h2 {
    text-align: center;
    font-size: 23px;
}




.Home .section4 #mail {
    margin: 0px auto;
    margin-bottom: 38px;
    display: block;
    width: 100px;
    text-decoration: none;
    text-align: center;
    color: black;
    border: 2px solid black;
    padding: 10px;
    width: 137px;
    border-radius: 19px;
}

.Home a {
    text-decoration: none;
}

.Home .section4 #mail:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
}

.Home .section4 {
    display: flex;
    justify-content: center;
}

.Home .section4 img {
    width: 50px;
}

@media (max-width: 700px) {
    .Home .section1 #box1 p {
        width: 95%;
    }
    .Home .section1 #box1 h1 {
        font-size: 400%;
    }

    .Home .section1 {
        min-height: 677px;

    }
}